@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create" class="button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CourseID"><img src="~/images/eye-solid.svg" alt="Edit" style="width:20px;height:15px;margin-right:15px;" /></a>
                    <a asp-action="Edit" asp-route-id="@item.CourseID"><img src="~/images/edit-regular.svg" alt="Details" style="width:20px;height:15px;margin-right:10px;" /></a>
                    <a asp-action="Delete" asp-route-id="@item.CourseID"><img src="~/images/trash-solid.svg" alt="Delete" style="width:20px;height:15px;" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>